In [1]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv("Data.csv")

In [22]:
data.shape

(1083761, 33)

In [23]:
data

,id,income,email_similarity,address_months_count,current_address_months_count,age,days_request,initial_amount,payment,zip_count,...,credit_limit,foreign,source_of_application,session_length,os,keep_alive,distinct_device_emails,device_fraud,month_of_application,fraud
0,313601,0.8,0.728457,-1,80,40.0,0.004258,-1.080257,AC,834.0,...,1000.0,0.0,INTERNET,3.596101,windows,NaN,1.0,0.0,4.0,1
1,461778,0.5,0.858082,-1,272,30.0,0.018662,NaN,NaN,1296.0,...,1000.0,0.0,INTERNET,6.151814,other,0.0,1.0,0.0,NaN,0
2,262345,0.9,0.814606,-1,121,40.0,0.006578,-1.403771,NaN,1471.0,...,1000.0,0.0,INTERNET,4.135402,other,1.0,1.0,0.0,0.0,1
3,229088,0.8,0.730362,-1,40,20.0,0.016866,-1.225565,NaN,3281.0,...,200.0,0.0,INTERNET,3.394497,windows,0.0,1.0,0.0,0.0,0
4,559991,0.1,0.032931,-1,194,50.0,0.020789,NaN,AB,1493.0,...,990.0,0.0,INTERNET,4.737753,windows,1.0,1.0,0.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083756,156060,0.9,0.621686,-1,263,20.0,0.003981,-0.506858,AB,1065.0,...,1500.0,0.0,INTERNET,5.647597,windows,1.0,1.0,0.0,5.0,0
1083757,416819,0.3,0.203487,-1,119,30.0,NaN,-1.016709,NaN,1196.0,...,200.0,NaN,INTERNET,5.180051,linux,1.0,1.0,0.0,5.0,0
1083758,954737,0.9,0.118512,-1,134,50.0,0.021271,0.024437,AD,1216.0,...,500.0,0.0,INTERNET,3.182414,other,NaN,1.0,0.0,6.0,0
1083759,265897,0.1,0.909544,-1,144,30.0,0.005345,26.620659,AA,1159.0,...,1500.0,0.0,INTERNET,6.253071,NaN,0.0,1.0,0.0,2.0,0
1083760,979265,NaN,0.447335,-1,107,30.0,0.019726,-0.570515,AB,686.0,...,1000.0,0.0,INTERNET,35.450022,windows,0.0,1.0,0.0,7.0,1

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083761 entries, 0 to 1083760
Data columns (total 33 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   id                            1083761 non-null  int64
 1   income                        1006395 non-null  float64
 2   email_similarity              1062827 non-null  float64
 3   address_months_count          1083761 non-null  int64
 4   current_address_months_count  1083761 non-null  int64
 5   age                           1035122 non-null  float64
 6   days_request                  986424 non-null   float64
 7   initial_amount                931110 non-null   float64
 8   payment                       981326 non-null   object
 9   zip_count                     1024860 non-null  float64
 10  app_6h                        1024294 non-null  float64
 11  app_24h                       931552 non-null   float64
 12  app_4w                        1036744 non-null  float64
 13  total_app_8w                  1042953 non-null  float64
 14  distinct_birth_emails         970927 non-null   float64
 15  employment                    1054002 non-null  object
 16  credit_score                  995640 non-null   float64
 17  email_status                  1033596 non-null  float64
 18  housing                       993417 non-null   object
 19  phone_status                  1015209 non-null  float64
 20  mobile_status                 1017096 non-null  float64
 21  bank_months                   923654 non-null   float64
 22  other_cards                   1060694 non-null  float64
 23  credit_limit                  1063777 non-null  float64
 24  foreign                       1015900 non-null  float64
 25  source_of_application         1063696 non-null  object
 26  session_length                1039175 non-null  float64
 27  os                            1002282 non-null  object
 28  keep_alive                    967884 non-null   float64
 29  distinct_device_emails        1044473 non-null  float64
 30  device_fraud                  984854 non-null   float64
 31  month_of_application          1032058 non-null  float64
 32  fraud                         1083761 non-null  int64
dtypes: float64(24), int64(4), object(5)
memory usage: 272.9+ MB

# Preprocessing Data

In [25]:

#Replacing -1 with NaN
mask = (data == -1).any(axis=0)
# Filtering the DataFrame to show only columns with -1
for col in mask:
    data.loc[:, mask] = data.loc[:, mask].replace(-1, np.nan)

## Handling the Missing Value

In [26]:
data.isna().sum()

id                                   0
income                           77366
email_similarity                 20934
address_months_count            810672
current_address_months_count      4039
age                              48639
days_request                     97337
initial_amount                  152651
payment                         102435
zip_count                        58901
app_6h                           59467
app_24h                         152209
app_4w                           47017
total_app_8w                     40808
distinct_birth_emails           112834
employment                       29759
credit_score                     88505
email_status                     50165
housing                          90344
phone_status                     68552
mobile_status                    66665
bank_months                     413016
other_cards                      23067
credit_limit                     19984
foreign                          67861
source_of_application            20065
session_length                   46609
os                               81479
keep_alive                      115877
distinct_device_emails           39659
device_fraud                     98907
month_of_application             51703
fraud                                0
dtype: int64

In [27]:
data.head()

,id,income,email_similarity,address_months_count,current_address_months_count,age,days_request,initial_amount,payment,zip_count,...,credit_limit,foreign,source_of_application,session_length,os,keep_alive,distinct_device_emails,device_fraud,month_of_application,fraud
0,313601,0.8,0.728457,NaN,80.0,40.0,0.004258,-1.080257,AC,834.0,...,1000.0,0.0,INTERNET,3.596101,windows,NaN,1.0,0.0,4.0,1
1,461778,0.5,0.858082,NaN,272.0,30.0,0.018662,NaN,NaN,1296.0,...,1000.0,0.0,INTERNET,6.151814,other,0.0,1.0,0.0,NaN,0
2,262345,0.9,0.814606,NaN,121.0,40.0,0.006578,-1.403771,NaN,1471.0,...,1000.0,0.0,INTERNET,4.135402,other,1.0,1.0,0.0,0.0,1
3,229088,0.8,0.730362,NaN,40.0,20.0,0.016866,-1.225565,NaN,3281.0,...,200.0,0.0,INTERNET,3.394497,windows,0.0,1.0,0.0,0.0,0
4,559991,0.1,0.032931,NaN,194.0,50.0,0.020789,NaN,AB,1493.0,...,990.0,0.0,INTERNET,4.737753,windows,1.0,1.0,0.0,2.0,1

In [28]:
categoric = list(data.select_dtypes(include=['object']).columns)
categoric_encode = ["email_status","foreign","mobile_status", "other_cards", "phone_status", "month_of_application", "keep_alive"]
numerik = [item for item in list(data.columns) if item not in set(categoric+categoric_encode+["id"])]

In [29]:
for i in categoric:
    data[i].fillna(data[i].mode()[0], inplace=True)
for i in categoric_encode:
    data[i].fillna(data[i].mode()[0], inplace=True)
for i in numerik:
    data[i].fillna(data[i].mode()[0], inplace=True)

In [30]:
data.isna().sum()

id                              0
income                          0
email_similarity                0
address_months_count            0
current_address_months_count    0
age                             0
days_request                    0
initial_amount                  0
payment                         0
zip_count                       0
app_6h                          0
app_24h                         0
app_4w                          0
total_app_8w                    0
distinct_birth_emails           0
employment                      0
credit_score                    0
email_status                    0
housing                         0
phone_status                    0
mobile_status                   0
bank_months                     0
other_cards                     0
credit_limit                    0
foreign                         0
source_of_application           0
session_length                  0
os                              0
keep_alive                      0
distinct_device_emails          0
device_fraud                    0
month_of_application            0
fraud                           0
dtype: int64

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense, Concatenate, Embedding, Flatten

WARNING:tensorflow:From c:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [33]:
# Split the data into training and testing sets
train_df, test_df = train_test_split(data, test_size=0.2, random_state=42)

In [34]:
# Preprocess numerical features
scaler = StandardScaler()
train_numerical = scaler.fit_transform(train_df[numerik])
test_numerical = scaler.transform(test_df[numerik])

In [35]:
# Preprocess categorical features
encoder = OneHotEncoder(sparse=False)
train_categorical = encoder.fit_transform(train_df[categoric])
test_categorical = encoder.transform(test_df[categoric])

c:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [36]:
# Categorical Encoded features
train_cat_encoded = train_df[categoric_encode]
test_cat_encoded = test_df[categoric_encode]

# Classification

In [39]:
train_target = train_df['fraud'].values
test_target = test_df['fraud'].values

In [41]:
# Concatenate numerical and categorical features
train_combined = np.concatenate([train_numerical, train_categorical, train_cat_encoded], axis=1)
test_combined = np.concatenate([test_numerical, test_categorical, test_cat_encoded], axis=1)

In [48]:
train_combined

array([[-1.39505791,  1.09748069, -0.32547915, ...,  1.        ,
         0.        ,  1.        ],
       [-0.02137858, -0.14399885, -0.32547915, ...,  1.        ,
         0.        ,  1.        ],
       [ 1.00888092, -0.6619315 , -0.32547915, ...,  1.        ,
         6.        ,  0.        ],
       ...,
       [ 1.00888092, -0.91687519, -0.32547915, ...,  0.        ,
         2.        ,  0.        ],
       [-0.70821824, -1.34672104, -0.32547915, ...,  1.        ,
         4.        ,  1.        ],
       [ 1.00888092, -0.9898776 , -0.32547915, ...,  0.        ,
         4.        ,  1.        ]])

In [47]:
model = tf.keras.Sequential([
    Dense(16, activation='relu', input_shape=(train_combined.shape[1],)),
    Dense(1, activation='sigmoid')
])
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
class MyCallbacks(tf.keras.callbacks.Callback):
        def __init__(self):
            super(MyCallbacks, self).__init__()
            self.threshold = 0.98

        def on_epoch_end(self, epoch, logs=None): 
            val_acc = logs["accuracy"]
            if val_acc >= self.threshold:
                self.model.stop_training = True
# Train the model
model.fit(train_combined, train_target, epochs=10, batch_size=128, callbacks=[MyCallbacks()])

# Evaluate the model
loss, accuracy = model.evaluate(test_combined, test_target)
print(f'Test Accuracy: {accuracy:.4f}')

Epoch 1/10
6774/6774 [==============================] - 25s 3ms/step - loss: 0.0126 - accuracy: 0.9959
6774/6774 [==============================] - 25s 4ms/step - loss: 8.0358e-06 - accuracy: 1.0000
Test Accuracy: 1.0000